<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul id="menu">
      <li><%= link_to 'Home',   '#' %></li>
      <li><%= link_to 'Help',   '#' %></li>
      <li><%= link_to 'Log in', '#' %></li>
      <li>Heroes
        <ul>
          <li><%= link_to 'Ana',   '#' %></li>
          <li><%= link_to 'Bastion',   '#' %></li>
          <li><%= link_to 'Brigitte',   '#' %></li>
          <li><%= link_to 'Doomfist',   '#' %></li>
          <li><%= link_to 'D.Va',   '#' %></li>
          <li><%= link_to 'Genji',   '#' %></li>
          <li><%= link_to 'Hanzo',   '#' %></li>
          <li><%= link_to 'Junkrat',   '#' %></li>
          <li><%= link_to 'Lucio',   '#' %></li>
          <li><%= link_to 'McCree',   '#' %></li>
          <li><%= link_to 'Mei',   '#' %></li>
          <li><%= link_to 'Mercy',   '#' %></li>
          <li><%= link_to 'Moira',   '#' %></li>
          <li><%= link_to 'Orisa',   '#' %></li>
          <li><%= link_to 'Pharah',   '#' %></li>
          <li><%= link_to 'Reaper',   '#' %></li>
          <li><%= link_to 'Reinhardt',   '#' %></li>
          <li><%= link_to 'Roadhog',   '#' %></li>
          <li><%= link_to 'Soldier: 76',   '#' %></li>
          <li><%= link_to 'Sombra',   '#' %></li>
          <li><%= link_to 'Symmetra',   '#' %></li>
          <li><%= link_to 'Torbjorn',   '#' %></li>
          <li><%= link_to 'Tracer',   '#' %></li>
          <li><%= link_to 'Widowmaker',   '#' %></li>
          <li><%= link_to 'Winston',   '#' %></li>
          <li><%= link_to 'Zarya',   '#' %></li>
          <li><%= link_to 'Zenyatta',   '#' %></li>
        </ul>
      </li>
      <li>Maps
        <ul>
          <li><%= link_to 'Antarctica',   '#' %></li>
          <li><%= link_to 'Anubis',   '#' %></li>
          <li><%= link_to 'Blizzard World',   '#' %></li>
          <li><%= link_to 'Busan',   '#' %></li>
          <li><%= link_to 'Busan Stadium',   '#' %></li>
          <li><%= link_to 'Dorado',   '#' %></li>
          <li><%= link_to 'Eichenwalde',   '#' %></li>
          <li><%= link_to 'Gibralter',   '#' %></li>
          <li><%= link_to 'Hanamura',   '#' %></li>
          <li><%= link_to 'Hollywood',   '#' %></li>
          <li><%= link_to 'Horizon',   '#' %></li>
          <li><%= link_to 'Ilios',   '#' %></li>
          <li><%= link_to 'Junkertown',   '#' %></li>
          <li><%= link_to 'Kings Row',   '#' %></li>
          <li><%= link_to 'Lijiang',   '#' %></li>
          <li><%= link_to 'Nepal',   '#' %></li>
          <li><%= link_to 'Numbani',   '#' %></li>
          <li><%= link_to 'Oasis',   '#' %></li>
          <li><%= link_to 'Rialto',   '#' %></li>
          <li><%= link_to 'Rio De Janeiro',   '#' %></li>
          <li><%= link_to 'Route 66',   '#' %></li>
          <li><%= link_to 'Syndey Harbor Stadium',   '#' %></li>
          <li><%= link_to 'Volskaya',   '#' %></li>
        </ul>
      </li>
    </ul>
  </div>
</header>